<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.espressif.idf.launch.serial.launchConfigurationType">
    <booleanAttribute key="FLASH_OVER_JTAG" value="false"/>
    <stringAttribute key="com.espressif.idf.debug.gdbjtag.openocd.jtagBoard" value=""/>
    <stringAttribute key="com.espressif.idf.debug.gdbjtag.openocd.jtagFlashArguments" value="-s ${openocd_path}/share/openocd/scripts -c 'set ESP32_FLASH_VOLTAGE '"/>
    <stringAttribute key="com.espressif.idf.debug.gdbjtag.openocd.jtagFlashVoltage" value=""/>
    <stringAttribute key="com.espressif.idf.debug.gdbjtag.openocd.jtagTarget" value=""/>
    <stringAttribute key="com.espressif.idf.launch.serial.core.serialFlashArguments" value="C:\Espressif\frameworks\esp-idf-v4.4\tools\idf.py -p ${serial_port} flash"/>
    <stringAttribute key="org.eclipse.cdt.debug.core.target_arch" value="riscv32"/>
    <stringAttribute key="org.eclipse.cdt.debug.core.target_os" value="esp32c3"/>
    <stringAttribute key="org.eclipse.cdt.launch.ATTR_LOCATION" value="C:\Espressif\python_env\idf4.4_py3.8_env\Scripts\python.exe"/>
    <stringAttribute key="org.eclipse.cdt.launch.ATTR_TOOL_ARGUMENTS" value="C:\Espressif\frameworks\esp-idf-v4.4\tools\idf.py -p ${serial_port} flash"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.WORKING_DIRECTORY" value="${workspace_loc:c3_vga_4}"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/c3_vga_4"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.launchbar.core.originalName" value="c3_vga_4"/>
    <stringAttribute key="org.eclipse.launchbar.core.providerClass" value="com.espressif.idf.launch.serial.internal.SerialFlashLaunchConfigProvider"/>
</launchConfiguration>
